.intro {
  background: #3f3f3f url("../img/intro-bg-mobile@1x.jpg") no-repeat center center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #3f3f3f url("../img/intro-bg-mobile@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  @media @tablet {
    background-image: url("../img/intro-bg-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #3f3f3f url("../img/intro-bg-tablet@2x.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  &__inner {
    .container();
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;

    @media @tablet {
      align-items: center;
      padding-top: 180px;
      padding-bottom: 160px;
    }

    @media @desktop {
      padding-top: 240px;
      padding-bottom: 190px;
    }
  }
  
  &__title {
    margin: 0 0 20px 0;
    font-family: @font-intro;
    font-size: 60px;
    line-height: 1em;
    letter-spacing: 0px;
    color: @font-color-2;

    @media @tablet {
      text-align: center;
      margin-bottom: 40px;
      font-size: 65px;
    }

    @media @desktop {
      font-size: 100px;
      line-height: 1em;
      letter-spacing: -9px;  
    }
  }
  
  &__text {
    position: relative;
    margin: 0;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    color: @font-color-2;
   
    &::before {
      @media @tablet {
        content: "";
        position: absolute;
        top: 50%;
        left: -65px;
        display: block;
        width: 40px;
        height: 2px;
        background-color: @bg-main;  
      }
    }
   
    &::after {
      @media @tablet {
        content: "";
        position: absolute;
        top: 50%;
        right: -65px;
        display: block;
        width: 40px;
        height: 2px;
        background-color: @bg-main;  
      }
    }
  }
}