.main-menu {
  position: relative;

  &__list {
    list-style: none;
    position: absolute;
    top: -17px;
    right: -7px;
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -6px grey;
    background: @bg-main;

    @media @tablet {
      position: static;
      top: auto;
      right: auto;
      flex-direction: row;
      width: auto;
      box-shadow: none;
      background-color: transparent;
    }

    &_hidden {
      display: none;
    }
  }
  
  &__item {
    margin-left: 24px;
    margin-right: 24px;
  
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &__link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: @font-regular;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.98px;
    text-decoration: none;
    color: @font-color-dark;
   
    &:hover {
      opacity: 0.7;
    }
   
    &:active {
      opacity: 0.4;
    }
  }
  
  &__toggle {
    display: block;
    z-index: 4;
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
    outline: none;
    width: 23px;
    height: 24px;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    background: url("../img/icon-menu.svg") no-repeat center center;
    background-size: 80% 80%;

    @media @tablet {
      display: none;
    }
   
    &_close {
      background: url("../img/icon-cross.svg") no-repeat center center;
      background-size: 80% 80%;
    }
  }  
}
