.stars {
  display: block;
  width: 80px;
  height: 13px;
  margin-top: 10px;
}
.stars__item {
  display: inline-block;
  width: 13px;
  height: 13px;
  fill: #dedede;
  &_gold {
    fill: #f1df1a;
  }
}
